name: DevOps Day3 CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: jerryng23
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          
      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            jerryng23/devops-day3:latest
            jerryng23/devops-day3:${{ github.sha }}
            
      - name: Verify
        run: echo "Image digest:" ${{ steps.docker_build.outputs.digest }}
